figure
  div#espacio-astronauta
    link(rel="stylesheet", href="animaciones/astronauta.css") 
    img(src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-dibujos-animados-de-astronauta-espacial-by-vexels.png", alt="")
  figcaption Un astronata solitario en el espacio profundo ¿Se mueve?
