@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&family=Oswald:wght@400;700&display=swap");
html {
  font-size: 1.8vw;
}
@media screen and (max-width: 639px) {
  html {
    font-size: 2.5vh;
  }
}

body {
  width: 100hw;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: #E8CAA4;
  background-color: #351330;
}

h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #CC2A41;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

p {
  margin: 0.3em;
}

ul, ol {
  padding-left: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
ul li, ol li {
  margin: 0.3em;
}
ul li > p, ol li > p {
  margin-left: 0;
}

.diapo {
  box-sizing: border-box;
  width: 95vw;
  height: 95vh;
  margin: 5vh auto 20vh auto;
}

.comentario {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #64908A;
  max-width: 90%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.6em auto;
  padding: 0.3em;
  border: 3px solid #64908A;
  border-radius: 10px;
}
.comentario h3 {
  color: #64908A;
  transform: rotate(-90deg);
}

figure {
  display: block;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin: auto auto;
  overflow: hidden;
  margin: 0;
  align-items: center;
}
@media screen and (max-width: 639px) {
  figure {
    display: initial;
    height: auto;
  }
}
figure:hover > img, figure:hover > iframe, figure:hover > .contenedor--geogebra {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
figure img {
  display: block;
  margin: auto auto;
  max-width: 100%;
  max-height: 80%;
  border-radius: 3px;
}
figure figcaption {
  align-self: start;
  display: block;
  max-width: 90%;
  height: auto;
  margin: 1% auto;
  font-size: 0.6rem;
  color: #64908A;
  text-align: justify;
}
@media screen and (max-width: 639px) {
  figure figcaption {
    font-size: 0.9rem;
  }
}
figure iframe {
  display: block;
  max-height: 80%;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 3px;
}
figure table {
  font-size: 0.8rem;
  border: 3px solid #64908A;
  border-radius: 10px;
  margin: auto;
  min-width: 60%;
  border-spacing: 0;
}
figure table th {
  background: #64908A;
}
figure table td {
  text-align: center;
  border: 1px solid #64908A;
}
figure .contenedor--geogebra {
  display: block;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
}

#cónicas {
  display: grid;
  grid-auto-flow: dense;
  grid-template: 2.5em repeat(1, 1fr)/repeat(2, 1fr);
  grid-gap: 0.5rem;
  align-items: center;
}
#cónicas .diapo__contenido {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
@media screen and (max-width: 639px) {
  #cónicas {
    min-height: 95vh;
    height: auto;
    grid-template: 2.5em auto repeat(1, minmax(30%, 50%))/1fr;
  }
  #cónicas .diapo__contenido {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
#cónicas h2 {
  grid-column: 1/-1;
}

#parábola---definición {
  display: grid;
  grid-auto-flow: dense;
  grid-template: 2.5em repeat(1, 1fr)/repeat(2, 1fr);
  grid-gap: 0.5rem;
  align-items: center;
}
#parábola---definición .diapo__contenido {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
@media screen and (max-width: 639px) {
  #parábola---definición {
    min-height: 95vh;
    height: auto;
    grid-template: 2.5em auto repeat(1, minmax(30%, 50%))/1fr;
  }
  #parábola---definición .diapo__contenido {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
#parábola---definición h2 {
  grid-column: 1/-1;
}

#parábola {
  display: grid;
  grid-auto-flow: dense;
  grid-template: 2.5em repeat(1, 1fr)/repeat(2, 1fr);
  grid-gap: 0.5rem;
  align-items: center;
}
#parábola .diapo__contenido {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
@media screen and (max-width: 639px) {
  #parábola {
    min-height: 95vh;
    height: auto;
    grid-template: 2.5em auto repeat(1, minmax(30%, 50%))/1fr;
  }
  #parábola .diapo__contenido {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
#parábola h2 {
  grid-column: 1/-1;
}

#elipse---definición-1 {
  display: grid;
  grid-auto-flow: dense;
  grid-template: 2.5em repeat(1, 1fr)/repeat(2, 1fr);
  grid-gap: 0.5rem;
  align-items: center;
}
#elipse---definición-1 .diapo__contenido {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
@media screen and (max-width: 639px) {
  #elipse---definición-1 {
    min-height: 95vh;
    height: auto;
    grid-template: 2.5em auto repeat(1, minmax(30%, 50%))/1fr;
  }
  #elipse---definición-1 .diapo__contenido {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
#elipse---definición-1 h2 {
  grid-column: 1/-1;
}

#elipse---definición-2 {
  display: grid;
  grid-auto-flow: dense;
  grid-template: 2.5em repeat(1, 1fr)/repeat(2, 1fr);
  grid-gap: 0.5rem;
  align-items: center;
}
#elipse---definición-2 .diapo__contenido {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
@media screen and (max-width: 639px) {
  #elipse---definición-2 {
    min-height: 95vh;
    height: auto;
    grid-template: 2.5em auto repeat(1, minmax(30%, 50%))/1fr;
  }
  #elipse---definición-2 .diapo__contenido {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
#elipse---definición-2 h2 {
  grid-column: 1/-1;
}

#elipse {
  display: grid;
  grid-auto-flow: dense;
  grid-template: 2.5em repeat(1, 1fr)/repeat(3, 1fr);
  grid-gap: 0.5rem;
  align-items: center;
}
#elipse .diapo__contenido {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
@media screen and (max-width: 639px) {
  #elipse {
    min-height: 95vh;
    height: auto;
    grid-template: 2.5em auto repeat(2, minmax(30%, 50%))/1fr;
  }
  #elipse .diapo__contenido {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
#elipse h2 {
  grid-column: 1/-1;
}

#hipérbola---definición-1 {
  display: grid;
  grid-auto-flow: dense;
  grid-template: 2.5em repeat(1, 1fr)/repeat(2, 1fr);
  grid-gap: 0.5rem;
  align-items: center;
}
#hipérbola---definición-1 .diapo__contenido {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
@media screen and (max-width: 639px) {
  #hipérbola---definición-1 {
    min-height: 95vh;
    height: auto;
    grid-template: 2.5em auto repeat(1, minmax(30%, 50%))/1fr;
  }
  #hipérbola---definición-1 .diapo__contenido {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
#hipérbola---definición-1 h2 {
  grid-column: 1/-1;
}

#hipérbola---definición-2 {
  display: grid;
  grid-auto-flow: dense;
  grid-template: 2.5em repeat(1, 1fr)/repeat(2, 1fr);
  grid-gap: 0.5rem;
  align-items: center;
}
#hipérbola---definición-2 .diapo__contenido {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
@media screen and (max-width: 639px) {
  #hipérbola---definición-2 {
    min-height: 95vh;
    height: auto;
    grid-template: 2.5em auto repeat(1, minmax(30%, 50%))/1fr;
  }
  #hipérbola---definición-2 .diapo__contenido {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
#hipérbola---definición-2 h2 {
  grid-column: 1/-1;
}

#hipérbola {
  display: grid;
  grid-auto-flow: dense;
  grid-template: 2.5em repeat(1, 1fr)/repeat(3, 1fr);
  grid-gap: 0.5rem;
  align-items: center;
}
#hipérbola .diapo__contenido {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
}
@media screen and (max-width: 639px) {
  #hipérbola {
    min-height: 95vh;
    height: auto;
    grid-template: 2.5em auto repeat(2, minmax(30%, 50%))/1fr;
  }
  #hipérbola .diapo__contenido {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
#hipérbola h2 {
  grid-column: 1/-1;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}
header h1 {
  color: #64908A;
}
header * {
  color: #E8CAA4;
  text-decoration: none;
  margin-top: 0;
}
header nav {
  width: 30vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -100vw;
  padding: 5vh auto;
  background: #64908A;
  opacity: 0.95;
  box-shadow: 0 0 10px #64908A;
  transition: 0.4s;
  transition-timing-function: ease;
}
@media screen and (orientation: portrait) {
  header nav {
    width: 80vw;
  }
}
header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
header:hover nav {
  top: 0;
  right: 0%;
}