//- Para dar el titulo de la pagina usar                 -var titulo = "titulo de la pagina"

//- para usar geogebra usar el mixin en el header            +usarGeogebra
//- para comenzar una nueva diapositiva usar el mixin        +diapositiva("titulo de la diapositiva")
//- 	el bloque hijo sera incluido como parte de la diapositiva
//-			Usar para añadir el contenedor de contenido					 .diapo__contenido
//-			Para agregar una Nota, comentario, extra usar				 .comentario
//- 	es recomendable incluir imagenes,tables en un bloque figure 
//-		con una descripcion figcaption
//- 		para agregar una imagen usar el mixin                 +imagen(archivo, descripcion)
//- 	  para incluir un archivo de geogebra usar el mixin     +graficoGeogebra(nombreArchivo,comandos='',width=400,height=400)
//-	      el archivo debe incluirse en la carpeta geogebra/
//- 	    En comandos se puede pasar javascript y comandos de Geogebra mediante api.comando_geogebra
//-		    Ejemplo: "api.setCoordSystem(-1,7,-2,6)"
//- se agrega al final la navegacion con el mixion			      +navegacion

extend pug/_plantilla.pug
prepend head
	- var titulo = "Resumen MRU"
	//- Poner una descripcion del tema de la pagina. Sobre todo para cuando arme una pagina como indice general.
	meta(name="description", content="Resumen para hacer los ejercicios de Movimiento Uniforme")
	//- A continuación poner los tag que describen los temas de las diapositvas
	//- también incluir para quienes esta dirigida la diapositiva, materia, codigo materia, cbc
	meta(name="keywords", content="palabras claves")

	+usarGeogebra

block body

	+diapositiva("Movimiento Rectilineo Unifirme")
		.diapo__contenido
			ul
				li Es el movimento más sencillo de la cinemática.
				li Un Objeto en MRU lleva siempre la misma velocidad y se mueve en una trayectoria recta.
				li Según la primer ley de Newton: todo cuerpo que no este sometido a ninguna fuerza permanece en movimiento MRU (que incluye el reposo).
				li Ecuación horaria: \[ d= v\cdot t \]

					.comentario
						ul
							li $d$ distancia del movimiento.
							li $v$ es la velocidad del objeto.
							li $t$ es el tiempo transcurrido durante el movimiento.
						h3 Nota
						div
							p
								i.icono-alerta 
								| Es importante que las unidades sean consistentes para usar ecuaciones físicas.
								ul
									li Por ejemplo, NO DEBEN mezclase horas, minutos y segundos.
									li Por ejemplo, NO DEBEN mezclarse kilometros y metros.

			.comentario
				h3 Repaso
				div
					p Equivalencia de unidades.
					ul
						li $1km = 1000m$.
						li $1h =60min$.
						li $1min = 60s$.
						li $1h =3600s$.
		

block header
	+navegacion
