@mixin diapositiva-grid($filas,$columnas,$contenido-span-fila,$contenido-span-columna)
  display: grid
  grid-auto-flow: dense
  grid-template: 2.5em repeat($filas,1fr) / repeat($columnas,1fr)
  grid-gap: .5rem
  align-items: center
  .diapo__contenido
    grid-row: 2 / span $contenido-span-fila
    grid-column: 1 / span $contenido-span-columna
  @include globales.responsive-to()
    min-height: globales.$diapositiva-alto
    height: auto
    $canditada-adicionales: ( $filas * $columnas ) + 1 - $contenido-span-fila - $contenido-span-columna
    grid-template: 2.5em auto repeat($canditada-adicionales,minmax(30%,50%)) / 1fr
    .diapo__contenido
      grid-row: 2 / 3
      grid-column: 1 / -1
  h2
    grid-column: 1/-1

// Para seleccinoar la organización de la diapositiva usar el id la diapositiva (igual al titulo en minusculas con - en vez de espacios).
// el grid se crea con el mixin dispostiva-grid($filas,$columnas,$contenido-span-fila, $contenido-span-columna)

#ilusión-muller-lyer
  position: relative
  figure 
    position: absolute
    display: flex
    align-content: center
    align-items: center
    img 
      position: absolute

    #linea2
      display: none
      transition: 2000
    
  figure:hover #linea2
    display: inherit


#ilusión-muller-lyer-
  figure 
    display: flex
    align-content: center
    align-items: center

#cerebro-y-percepción
  @include diapositiva-grid(1,2,1,1)
  figure 
    display: flex
    align-content: center
    align-items: center

