body {
  max-width: 800px;
  margin: auto;
}

table,
tr,
td {
  border-collapse: collapse;
  border: 1px solid gray;
  font-size: 20px;
}
td {
  width: 1em;
  text-align: center;
}
#guia td {
  border: 2px solid black;
  font-size: 0.7em;
}
