//- Para dar el titulo de la pagina usar                 -var titulo = "titulo de la pagina"

//- para usar geogebra usar el mixin en el header            +usarGeogebra
//- para comenzar una nueva diapositiva usar el mixin        +diapositiva("titulo de la diapositiva")
//- 	el bloque hijo sera incluido como parte de la diapositiva
//-			Usar para añadir el contenedor de contenido					 .diapo__contenido
//-			Para agregar una Nota, comentario, extra usar				 .comentario
//- 	es recomendable incluir imagenes,tables en un bloque figure 
//-		con una descripcion figcaption
//- 		para agregar una imagen usar el mixin                 +imagen(archivo, descripcion)
//- 	  para incluir un archivo de geogebra usar el mixin     +graficoGeogebra(nombreArchivo,comandos='',width=400,height=400)
//-	      el archivo debe incluirse en la carpeta geogebra/
//- 	    En comandos se puede pasar javascript y comandos de Geogebra mediante api.comando_geogebra
//-		    Ejemplo: "api.setCoordSystem(-1,7,-2,6)"
//- se agrega al final la navegacion con el mixion			      +navegacion

extend pug/_plantilla.pug
prepend head
	- var titulo = "Funciones Reales"
	//- Poner una descripcion del tema de la pagina. Sobre todo para cuando arme una pagina como indice general.
	meta(name="description", content="Definición de función lineal y su gráfico. Problema de la función lineal que pasa por dos puntos.")
	//- A continuación poner los tag que describen los temas de las diapositvas
	//- también incluir para quienes esta dirigida la diapositiva, materia, codigo materia, cbc
	meta(name="keywords", content="Función, lineal")

	+usarGeogebra

block body


	+diapositiva("Función lineal")
		.diapo__contenido
			p \[ f(x)=m\cdot x + b \]
			ul
				li El gráfico de $f$ es una recta.
				li $m$ es la pendiente de la recta.
					ul
						li $m>0$ función creciente en $\Re$
						li $m=0$ función constante en $\Re$
						li $m&lt 0$ función decreciente en $\Re$

				li $b$ es la ordenada al origen (donde corta al eje de ordenadas).

			.comentario
				h3 Nota
				ul
					li La rectas verticales no tienen asociada una función lineal ya que su gráfico no representa una función. 
					li Dos rectas son paralelas si tienen la misma pendiente.

		figure
			+graficoGeogebra("mxmasb","api.setCoordSystem(-3,3,-3,3)",500,500)



	+diapositiva("Función lineal que pasa por dos puntos")
		.diapo__contenido
			p La función lineal que pasa por los puntos $(x_1,y_1)$ y $(x_2,y_2)$ puede calcularse como
			ol
				li La pendiente: \[ m=\frac{y_2-y_1}{x_2-x_1} \]
				li La función: \[ f(x)=m(x-x_1)+y_1\]
			.comentario
				h3 Nota
				ul
					li Recordar que un punto $(a,b)$ de un gráfico de una función $f$ es equivalente a $f(a)=b$
					li Es indistinto usar forma funcional $f(x)=m(x-x_1)+y_1$ o la forma $f(x)=m(x-x_2)+y_2$
					li Si se necesita hallar la forma de $f(x)=mx+b$ es necesario distribuir la expresión $f(x)=m(x-x_1)+y_1$
	
		figure
			+graficoGeogebra("funcionLineal","api.setCoordSystem(-2,4,-1,3)",500,500)


block header
	+navegacion
