@font-face {
  font-family: "Calculator";
  src: url("Calculator.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  background: black;
}
#pantalla {
  font-family: Calculator;
  color: white;
  font-size: 40px;
  text-align: right;
  padding-right: 10px;
}
