include _configuraciones.pug

<!DOCTYPE html>
html(lang="es")
	head
		block head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(author="Mario Estanislao Cesar Ariet")
		title #{titulo} - Mario Estanislao Cesar Ariet
		link(rel="stylesheet", href="css/estilos.css")
		link(rel="stylesheet", href="icofont/icofont.css")
		script.
			MathJax = {
				tex: {
					inlineMath: [['$', '$'], ['\\(', '\\)']]
				}
			};
		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
	body
		block body
		header
			h1 
				a(href="#") menu
			block header

		